    <header class="header">
  <div class="logo u-center">
    <h1 class="logo__text">Catalina's portfolio</h1>
  </div>
  <nav class="navbar u-center">
      <ul class="navbar__list">
        <li class="navbar__element"><a href="#" class= "link">home</a></li>
        <li class="navbar__element"><a href="#" class= "link">projects</a></li>
        <li class="navbar__element"><a href="#" class= "link">about</a></li>
        <li class="navbar__element"><a href="#" class= "link">contact</a></li>
      </ul>
  </nav>
 </header>
