<!-- <header class="header">
  <div class="logo u-center">
    <h1 class="logo__text">Catalina's portfolio</h1>
  </div>
    <nav class="navbar u-center">
      <ul class="navbar__list">
        <li class="navbar__element navbar__element--home">Home</li>
        <li class="navbar__element navbar__element--projects">Projects</li>
        <li class="navbar__element navbar__element--about">About</li>
        <li class="navbar__element navbar__element--contact">Contact</li>
      </ul>
  </nav>
</header> -->
