.navbar{
  width: 100%;
  text-decoration: none;
  color: $color-grey;
  text-transform: uppercase;
  font-size: 3rem;
  // position:fixed;
  z-index: 90;

  &__element{

    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    &:not(:last-child){
      margin-right:6rem;
    }
  }
}
