<!-- <section class="section-projects u-center">
   <figure class="figure figure--1">
     <img src="images/pic1.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--2">
     <img src="images/pic2.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--3">
     <img src="images/pic3.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--4">
     <img src="images/pic4.jpg" alt="" class="figure__image">
     <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--5">
     <img src="images/pic5.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--6">
     <img src="images/pic6.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--7">
     <img src="images/pic7.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--8">
     <img src="images/pic8.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--9">
     <img src="images/pic9.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--10">
     <img src="images/pic8.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
   <figure class="figure figure--11">
     <img src="images/pic9.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
    <figure class="figure figure--12">
     <img src="images/pic1.jpg" alt="" class="figure__image">
      <figcaption class="figure__caption">blabla</figcaption>
   </figure>
</section> -->

<!-- <section class="section-animation-1">
  <div class="block">

  </div>
  <div class="block2">

  </div>
</section>

<section class="section-animation-2">
  <div class="eye eye1">
    <div class="pupil pupil1"></div>
  </div>
  <div class="eye eye2">
    <div class="pupil pupil2"></div>
  </div>
</section> -->










<section class="section-parallax section-parallax--1">

  <figure class="parallax-item parallax-item--1"data-depth="0.2">
    <img src="images/leave2.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--2" data-depth="0.3">
    <img src="images/leave1.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--3" data-depth="0.6">
    <img src="images/leave3.png" alt="" class="parallax-image">
  </figure>

</section>

<section class="section-parallax section-parallax--2">

  <figure class="parallax-item parallax-item--1"data-depth="0.2">
    <img src="images/leave2.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--2" data-depth="0.3">
    <img src="images/leave1.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--3" data-depth="0.6">
    <img src="images/leave3.png" alt="" class="parallax-image">
  </figure>

</section>

<section class="section-parallax section-parallax--3">

  <figure class="parallax-item parallax-item--1"data-depth="0.2">
    <img src="images/leave2.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--2" data-depth="0.3">
    <img src="images/leave1.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--3" data-depth="0.6">
    <img src="images/leave3.png" alt="" class="parallax-image">
  </figure>

</section>

<section class="section-parallax section-parallax--4">

  <figure class="parallax-item parallax-item--1"data-depth="0.2">
    <img src="images/leave2.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--2" data-depth="0.3">
    <img src="images/leave1.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--3" data-depth="0.6">
    <img src="images/leave3.png" alt="" class="parallax-image">
  </figure>

</section>

<section class="section-parallax section-parallax--5">

  <figure class="parallax-item parallax-item--1"data-depth="0.2">
    <img src="images/leave2.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--2" data-depth="0.3">
    <img src="images/leave1.png" alt="" class="parallax-image">
  </figure>
  <figure class="parallax-item parallax-item--3" data-depth="0.6">
    <img src="images/leave3.png" alt="" class="parallax-image">
  </figure>

</section>






<!-- <section class="section-parallax section-parallax--1">
  <div class="parallax-item parallax-item--1" data-depth="0.9">
    Div 1
  </div>
  <div class="parallax-item parallax-item--2" data-depth="0.5">
    Div 2
  </div>
  <div class="parallax-item parallax-item--3" data-depth="0.1">
    Div 3
  </div>
</section>
<section class="section-parallax section-parallax--2">
   <div class="parallax-item parallax-item--1" data-depth="0.9">
    Div 1
  </div>
  <div class="parallax-item parallax-item--2" data-depth="0.5">
    Div 2
  </div>
  <div class="parallax-item parallax-item--3" data-depth="0.1">
    Div 3
  </div>
</section>
<section class="section-parallax section-parallax--3">
   <div class="parallax-item parallax-item--1" data-depth="0.9">
    Div 1
  </div>
  <div class="parallax-item parallax-item--2" data-depth="0.5">
    Div 2
  </div>
  <div class="parallax-item parallax-item--3" data-depth="0.1">
    Div 3
  </div>
</section>
<section class="section-parallax section-parallax--4">
   <div class="parallax-item parallax-item--1" data-depth="0.9">
    Div 1
  </div>
  <div class="parallax-item parallax-item--2" data-depth="0.5">
    Div 2
  </div>
  <div class="parallax-item parallax-item--3" data-depth="0.1">
    Div 3
  </div>
</section>


 -->






















